@media screen and (min-width:1400px) {
    .container{
        max-width: 1320px;
    }
}
@media screen and (max-width:1400px) {
    .container{
        max-width: 1140px;
    }
}
@media screen and (max-width:1200px) {
    .container{
        max-width: 960px;
    }
}
@media screen and (max-width:992px) {
    .container{
        max-width: 720px;
    }
}
@media screen and (max-width:768px) {
    .container{
        max-width: 540px;
    }
}
@media screen and (max-width:576px) {
    .container{
        padding-inline: 15px;
    }
}
/* ######## navbar */
@media screen and (max-width:1200px) {
    .menu-icon{
        display: block;
    }
    nav ul{
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fff;
        flex-direction: column;
        width: 350px;
        height: 100%;
        padding-inline: 10px;
        gap: 0;
        transform: translateX(100%);
    }
    nav ul li{
        padding-block: 20px;
        
    }
    nav ul li.close-icon{
        display: block;
        text-align: right;
    }
    nav ul li.close-icon a{

        font-size: 25px;
    }
    nav .mode{
        margin-left: auto;
        margin-right: 20px;
    }
}
/* ######## header */
@media screen and (min-width:1200px) {
   header {
        height: 100vh;
    }
}
@media screen and (max-width:992px) {
    header .container{
        flex-direction: column-reverse;
        justify-content: center;
    }
    header .container > *{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .container .header_content{
        margin-top: 30px;
    }
    .button-group .btn{
        --border-radius:100vh;
    }
}

@media screen and (max-width:400px) {
    .button-group{
        flex-direction: column;
    }
}
/* ########### chefs */
@media screen and (max-width:992px) {
    .card{
        width: calc(calc(100% - var(--gap))/2 );
    }
}
@media screen and (max-width:768px) {
    .card{
        width: 100%;
    }
}
/* ########### gallery */
@media screen and (max-width:1400px) {
    .gallery-imgs{
        height: 1025px;
    }
}
@media screen and (max-width:1200px) {
    .gallery-imgs{
        height: 860px;
    }
}
@media screen and (max-width:992px) {
    .gallery-imgs{
        height: 1410px;
    }
    .gallery-imgs picture{
        width: calc(calc(100% - var(--gap))/2);
    }
    .pizza{
        order: 1;
    }
    .burger{
        order:2;
    }
    .slice{
        order: 3;
    }
    .steak{
        order: 5;
    }
    .frittata{
        order: 4;
    }
    .fried-checkien{
        order: 6;
    }
    .kuffta{
        order: 7;
    }
}
@media screen and (max-width:768px) {
    .gallery-imgs{
        height: auto;
    }
    .gallery-imgs picture{
        width: calc(100% - var(--gap));
    }
}

/*  ########### contact */

@media screen and (max-width:768px) {
    .contact .contact-means > div {
        width: 100%;
        gap: 20px;
    }
    .contact .input-group input{
        width: 100%;
    }
    
}